@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
  font-family: 'Ubuntu', sans-serif;
}
.numerotation{
  text-align: center;
  width: 50px;
  margin: 5px;
}
.row{
  display: flex;
  flex-direction: row; 
}
.column{
  display: flex;
  flex-direction: column;
  border: solid 1px #ccc;
  border-radius: 5px;
}
#myPoint{
  margin:  50px auto auto 60px;
  font-size: 20px;
}
#yourPoint{
  margin:  50px  60px auto auto;
  font-size: 20px;
}

.container{
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}
.myCenter{
  width: 320px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
/*   background-color: black; */
}
#dice{
  height: 120px;
  width: 120px;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 80px 20px 0px 20px;
  background-color: lightgray;
}
.nodot{
  display: block;
  height: 20px;
  width: 20px;
  background-color: lightgray;
  border-radius: 50px;
  margin: 10px;
}
.dot{
  display: block;
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50px;
  margin: 10px;
}
.row{
  display: flex;
}

.buttonHolder{ 
  text-align: center; 
}
#output{
  text-align: center;
  font-size: 40px;
}
button:active{
  border-width: 0px 0px 2px 0px;
  transform: translateY(5px);
  opacity: 0.9;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  margin: 60px 10px;
  border: none;
  background: #f2f2f2;
  cursor: pointer;
  font-size: inherit;
  font-weight: light;
  letter-spacing: 1px;
  color: inherit;
  transition: all 0.3s ease 0s;
  width: 150px;
}
.btn:after {
  content: "";
  position: absolute;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
.btn:hover,
.btn:focus {
  color: #f8f8f8;
}
.btn-2:after {
  background: #f2f2f2;
  height: 0;
  left: 0;
  top: 0;
  right: 0;
}
.btn-2:hover,
.btn-2:focus {
  background-color: transparent;
}
.btn-2:hover:after,
.btn-2:focus:after {
  background: #339933;
  height: 100%;
}
#yp, #mp{
  width: 150px; 
  text-align: center; 
  margin: 5px;
  font-size: 25px;
}
#score{
  margin-top: 30px;
  text-align: center;
  color: green;
  font-size: 39px;
}


/*Handle the check box */
.level{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 1. Hide the default checkbox. */
input[type="checkbox"] {
  display: none;
}

/* 2. Create the slider base and knob. */
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background-color: #70db70;
  border-radius: 25px;
  position: relative;
  transition: all 0.4s ease-out;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #009933;
  border-radius: 50%;
  transition: all 0.4s ease-out;
}

/* 3. Create the styling for the checked states. */
input:checked + label {
  background: #ccc;
}

input:checked + label:after {
  transform: translate3d(30px, 0, 0);
  background-color: #ff0000;
}
footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 40px;
}
